<body>
    <div id="page">
      <a href="#" class="js-nav-toggle nav-toggle">
        <i></i>
      </a>
      <aside id="aside" role="complementary" class="border js-fullheight">
        <h1 id="logo">
          <a href="index.html">
            <span>Ma</span>
            <span>ry</span>
          </a>
        </h1>
        <nav id="main-menu" role="navigation">
          <ul>
            <li class="active">
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="work.html">Work</a>
            </li>
            <li>
              <a href="about.html">About</a>
            </li>
            <li>
              <a href="services.html">Day in the Life</a>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </nav>

      </aside>
  </body>
